.container {
  background-color: black;
  padding: 10px;
  width: 300px;
  border: 5px solid red;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
}

.image {
  width: 150px;
  border-radius: 30px;
}

.button {
  margin-top: 10px;
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid white;
}

.link {
  text-decoration: none;
  color: white;
}

.header {
  margin-top: 10px;
  margin-bottom: 10px;
}
